##################################
# System definitions
##################################

FC:=mpif90
FFLAGS:=-O2 -g -fPIC -fbounds-check -fcheck=mem -fallow-argument-mismatch #-fsanitize=address

CC:=mpicc
CFLAGS:=-O0 -g -fPIC

LIBS    =  
METIS   =
MDFILES =
FREE    =

##################################
#  PATH
##################################
DEST:=${PWD}/../bin
OBJ:=${PWD}/obj/



