##########################
# System definitions
##########################

FC=mpif90
FFLAGS:=-O2 -g -fPIC -fbounds-check -fcheck=mem -fallow-argument-mismatch

CC=mpicc
CFLAGS:=-O2 -g -fPIC 

LIBS=
INC=


##########################
# PATH
##########################
DIRECTORY:=/home/ze/workdir/WaterQuenchingFortran/TwoPhaseThermofluidFortran
DEST:=/home/ze/workdir/WaterQuenchingFortran/TwoPhaseThermofluidFortran/bin

