##################################
# System definitions
##################################

FC:=mpif90
FFLAGS:=-O3 -g -fPIC -fbounds-check -fcheck=mem -fallow-argument-mismatch

CC:=mpicc
CFLAGS:=-O3 -g -fPIC

LIBS    =  
METIS   =
MDFILES =
FREE    =

##################################
#  PATH
##################################
DEST:=${PWD}/../bin
OBJ:=${PWD}/obj/

###NAME := nrel_rot
###NAME := 5mw_fsi
###NAME := 5mw_old
NAME:=ns

##################################
#  Files
##################################
include file.list
OFILES = $(MODFILES:.f90=.o)\
         $(F90FILES:.f90=.o)\
         $(F77FILES:.f=.o)

OBJFILES = $(MODFILES:%.f90=${OBJ}/%.o)\
           $(F90FILES:%.f90=${OBJ}/%.o)\
           $(F77FILES:%.f=${OBJ}/%.o)

